/* Div com todos os componentes. */
.tudo {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    overflow: hidden;
}

/* Card do curso. */
.caixaCard {
    max-width: 35%;
    margin: 0; 
    margin-bottom: 8%;
    padding: 0;
    padding-right: 2%;
    padding-left: 4%;
}

.textCard {
    font-size: 1.3rem;
    text-align: justify;
}

.tituloCard {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 6%;
    text-transform: uppercase;
}

.imgCard {
    height: 30%;
    object-fit: cover;
}

.bodyPreco {
    background-color: #2029AD;
    border-radius: 20px 20px 8px 8px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    margin-top: 6%;
}

.precoText {
    font-size: 1.6rem;
    text-align: justify;
    color: white;
    align-self: center;
}

.botaoInteresse {
    text-decoration: none;
    background-color: white;
    color: #101F62;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.botaoInteresse:hover {
    color: white;
    background-color: #101F62;
}

/* Informaçoes do curso. */

.tituloInfo {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #F3AB15;
    width: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.caixaInfo {
    max-width: 45%;
    margin: 0; 
    margin-bottom: 8%;
    padding: 0;
    padding-right: 2%;
    padding-left: 4%;
}

.textInfo {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 8%;
}

.textInfoLista {
    font-size: 1.3rem;
    margin-bottom: 8%;
}

@media screen and (max-width: 1400px) {
    .caixaCard {
        padding-right: 2%;
        padding-left: 2%;
    }
    
    .caixaInfo {
        padding-right: 2%;
        padding-left: 2%;
    }
}

@media screen and (max-width: 1100px) {
    .caixaCard {
        max-width: 40%;
    }
}

@media screen and (max-width: 950px) {
    .caixaCard {
        max-width: 45%;
    }
}

@media screen and (max-width: 800px) {
    .tudo {
        flex-direction: column;
        align-items: center;
        margin-top: 8%;
    }

    .caixaCard {
        max-width: 70%;
    }
    
    .caixaInfo {
        max-width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .caixaCard {
        max-width: 75%;
        min-width: 0;
    }
    
    .caixaInfo {
        max-width: 75%;
        min-width: 0;
    }
}

@media screen and (max-width: 550px) {
    .caixaCard {
        max-width: 85%;
    }
    
    .caixaInfo {
        max-width: 85%;
    }
}