.caixa {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-items: center;
    margin: 0px 0px;
    margin-top: 8%;
    padding-left: 8%;
    padding-right: 8%;
    max-width: none;
}

.caixaCard {
    max-width: 100%;
    margin: 0; 
    padding: 0;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 8%;
}

.imgCard {
    height: 30%;
    object-fit: cover;
}

/* @media screen and (max-width: 1100px) {
    .caixa {
        grid-template-columns: repeat(2, 1fr);
    }
    
} */

/* @media screen and (max-width: 750px) {
    .caixa {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 16%;
        padding-right: 16%;
    }  
}

@media screen and (max-width: 500px) {
    .caixa {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 8%;
        padding-right: 8%;
    }  
} */