.caixa {
    display: grid;
    justify-items: center;
    margin: 0px 0px;
    margin-top: 8%;
    padding-left: 8%;
    padding-right: 8%;
    max-width: none;
}

.caixaCard {
    max-width: 30%;
    margin: 0; 
    padding: 0;
    padding-right: 4%;
    padding-left: 4%;
}

.imgCard {
    height: 30%;
    object-fit: cover;
}

.bodyPreco {
    background-color: #2029AD;
    border-radius: 20px 20px 0px 0px;
    justify-items: center;
}

.precoText {
    color: white;
    align-self: center;
}